$gradient:to right top,
#005daa,
#0075b8,
#008cbe,
#00a1be,
#00b5ba,
#00b8bb,
#00bbbb,
#00bebc,
#00b2c4,
#00a4ca,
#0096cb,
#0086c7;
$main:#005daa;
$white:#fff;
$red:#D65555;
$green:#62C15D;
$shadow:1px 3px 33px 5px rgba(0, 0, 0, 0.44);
$borderBottom: 1px solid rgba(0, 93, 170, 0.3);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient($gradient);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.wrapper {
  background: $white;
  min-height: 50rem;
  width: 60rem;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: $shadow;
}

.budget {
  color: $main;

  &__month,
  &__title,
  &__value {
    text-align: center;
  }

  &__title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: 400;
  }

  &__value {
    font-weight: 400;
    font-size: 4.3rem;
    margin-bottom: 1.3rem;
    letter-spacing: 2px;
  }

  &__panel {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  &__type {
    width: 55px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
    outline: none;
  }

  &__income {
    color: $green;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__expenses {
    color: $red;
    font-size: 1.5rem;
    font-weight: 700;
  }

}

.add {
  display: flex;
  justify-content: center;

  &__container input {
    margin-right: 1.5rem;
  }

  &__description,
  &__value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
    outline: none
  }

  &__description {
    width: 400px;
  }

  &__value {
    width: 100px;
  }

  &__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: $main;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    outline: none;
  }

  &__btn:active {
    transform: translateY(2px);
  }

}

.panel {
  padding: 2rem;
  margin: 2rem auto;
  width: 80%;
  max-height: 20rem;
  overflow: auto;

  &__item {
    display: flex;
    padding: 1rem;
    align-items: center;
    line-height: 2;

    &:hover .item__delete--btn {
      display: flex;
      margin-left: 5px;
    }

    &-income .panel__item__value {
      color: $green;
    }

    &-expense .panel__item__value {
      color: $red;
    }

    &:not(:last-child) {
      border-bottom: $borderBottom;
    }

    &__details {
      flex: 1;
    }
  }
}

.item__delete--btn {
  display: none;
  font-size: 22px;
  background: none;
  border: none;
  color: $red;
  cursor: pointer;
  outline: none;
}